constraints: array ==0.5.1.1,
             base ==4.9.1.0,
             ghc-prim ==0.5.0.0,
             rts ==1.0,
             integer-gmp ==1.0.0.1,
             bytestring ==0.10.8.1,
             deepseq ==1.4.2.0,
             containers ==0.5.7.1,
             directory ==1.3.0.0,
             filepath ==1.4.1.1,
             time ==1.6.0.1,
             unix ==2.7.2.1,
             happstack-server ==7.5.4,
             base64-bytestring ==1.0.0.2,
             blaze-html ==0.9.1.2,
             blaze-builder ==0.4.1.0,
             text ==1.2.4.0,
             binary ==0.8.3.0,
             template-haskell ==2.11.1.0,
             ghc-boot-th ==8.0.2,
             pretty ==1.1.3.3,
             blaze-markup ==0.8.2.3,
             exceptions ==0.10.4,
             mtl ==2.2.2,
             transformers ==0.5.2.0,
             stm ==2.5.0.0,
             extensible-exceptions ==0.1.1.4,
             hslogger ==1.3.1.0,
             network ==2.6.3.6,
             old-locale ==1.0.0.7,
             html ==1.0.1.2,
             monad-control ==1.0.2.3,
             transformers-base ==0.4.5.2,
             base-orphans ==0.8.1,
             transformers-compat ==0.6.5,
             network-uri ==2.6.1.0,
             parsec ==3.1.14.0,
             process ==1.4.3.0,
             semigroups ==0.19.1,
             sendfile ==0.7.11.1,
             syb ==0.7.1,
             system-filepath ==0.4.14,
             threads ==0.5.1.6,
             utf8-string ==1.0.1.1,
             xhtml ==3000.2.1,
             zlib ==0.6.2.1,
             old-time ==1.1.0.3,
             uulib ==0.9.24
